{{>header}}
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
</head>

<body>
  <div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="container">
      <div class=" cover">
        <div class="inner">
          <h1 class="cover-heading">Step Forward.</h1>
          <p class="lead">Extended kindness trifling remember he confined outlived if. Assistance sentiments yet unpleasing say. Open they an busy they my such high. An active dinner wishes at unable hardly no talked on. Immediate him her resolving his favourite. Wished denote abroad at branch at. </p>
          <p class="lead">
            <a href="/" class="btn btn-lg btn-default">Learn more</a>
          </p>
        </div>
      </div>

    </div>

  </div>

  </div>
  {{>footer}}
</body>